# Node
node_modules/
pnpm-lock.yaml

# Build output
dist/
packages/*/dist/
apps/*/.nuxt/
apps/*/.output/

# Nuxt specific
.nuxt
.nitro
.cache

# Logs
*.log*
lerna-debug.log*

# Environment files (local only)
.env.local
.env.*.local

# IDE & OS
.vscode/
.DS_Store
.fleet
.idea
*.swp
*.swo

# Testing
coverage/
*.tsbuildinfo

# Temporary files
*.tmp
*.temp