@import '../_variables.scss';

.suzao-main {
  background: linear-gradient(217deg, #404C7E 0%, #2A3251 100%);
}

.footer {
  width: 100%;
  background-color: $white;

  footer {
    margin: auto;
  }
}

.member-redemption {
  .main {
    display: flex;
    align-items: center;

    .left {
      width: 550px;

      .title {
        font-weight: 600;
        font-size: 22px;
        color: $white;
      }

      .el-form {
        padding-top: 30px;
        width: 350px;

        .el-form-item {
          margin-bottom: 30px;
        }

        .el-input__inner,
        .el-button {
          border-radius: 22px;
        }

        .el-input__inner {
          padding-left: 25px;
        }

        .el-button {
          font-size: 18px;
          width: 100%;
          background: linear-gradient(90deg, #FFE7C4 0%, #FFE9C8 24%, #FFCC8A 100%);

          &,
          &:focus,
          &:hover {
            color: $text-color;
          }
        }
      }

      .con-text {
        font-size: 12px;
        line-height: 2;
        color: #F5F5F5;
      }
    }

    .right {
      flex: 1;
      padding-left: 10px;

      .img {
        width: 100%;
        max-width: 385px;
      }
    }
  }
}