@font-face {
  font-family: "iconfont"; /* Project id 4053196 */
  src: url('/fonts/iconfont.woff2?t=1755585757085') format('woff2'),
       url('/fonts/iconfont.woff?t=1755585757085') format('woff'),
       url('/fonts/iconfont.ttf?t=1755585757085') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-PK:before {
  content: "\e695";
}

.icon-Like2:before {
  content: "\e696";
}

.icon-left:before {
  content: "\e697";
}

.icon-fabu:before {
  content: "\e698";
}

.icon-Eye:before {
  content: "\e687";
}

.icon-ss:before {
  content: "\e688";
}

.icon-a-Phonecall:before {
  content: "\e689";
}

.icon-shangcheng:before {
  content: "\e68a";
}

.icon-Copy:before {
  content: "\e68b";
}

.icon-Share:before {
  content: "\e68c";
}

.icon-on:before {
  content: "\e68d";
}

.icon-dujia:before {
  content: "\e68e";
}

.icon-Menu:before {
  content: "\e68f";
}

.icon-Commodity:before {
  content: "\e690";
}

.icon-up:before {
  content: "\e691";
}

.icon-All-application:before {
  content: "\e692";
}

.icon-Frame:before {
  content: "\e693";
}

.icon-Like:before {
  content: "\e694";
}

.icon-write-new:before {
  content: "\e62d";
}

.icon-email-new:before {
  content: "\e62e";
}

.icon-collect-fill-new:before {
  content: "\e62f";
}

.icon-download-new:before {
  content: "\e630";
}

.icon-collect-new:before {
  content: "\e631";
}

.icon-icon_anzhuo-18:before {
  content: "\e62b";
}

.icon-a-icon_anzhuofuben:before {
  content: "\e62c";
}

.icon-icon_anzhuo-20:before {
  content: "\e629";
}

.icon-icon_pingguo:before {
  content: "\e62a";
}

.icon-icon_zanting:before {
  content: "\e628";
}

.icon-icon_jihe:before {
  content: "\e61b";
}

.icon-icon_dianhua:before {
  content: "\e627";
}

.icon-icon_geren:before {
  content: "\e61d";
}

.icon-icon_fasong:before {
  content: "\e61e";
}

.icon-icon_qingchu:before {
  content: "\e61f";
}

.icon-icon_jiantou:before {
  content: "\e620";
}

.icon-icon_wenben:before {
  content: "\e621";
}

.icon-icon_dianzanguoqu:before {
  content: "\e622";
}

.icon-icon_fuzhi:before {
  content: "\e623";
}

.icon-icon_xinjian:before {
  content: "\e624";
}

.icon-icon_zhongshi:before {
  content: "\e625";
}

.icon-icon_caisi:before {
  content: "\e626";
}

.icon-icon_xiazai:before {
  content: "\e618";
}

.icon-icon_dianzan:before {
  content: "\e61a";
}

.icon-download:before {
  content: "\e614";
}

.icon-search:before {
  content: "\e60f";
}

.icon-write:before {
  content: "\e60e";
}

.icon-email1:before {
  content: "\e610";
}

.icon-collect1:before {
  content: "\e611";
}

.icon-logo-icon-01:before {
  content: "\e619";
}

.icon-company:before {
  content: "\e615";
}

.icon-fasong-ai:before {
  content: "\e643";
}

.icon-xungou-pc:before {
  content: "\e644";
}

.icon-erweima-cebianlan:before {
  content: "\e645";
}

.icon-dianhua-cebianlan:before {
  content: "\e646";
}

.icon-weixin-cebianlan:before {
  content: "\e647";
}

.icon-units:before {
  content: "\e642";
}

.icon-weixin:before {
  content: "\e61c";
}

.icon-arrow-right:before {
  content: "\e641";
}

.icon-feedback:before {
  content: "\e63c";
}

.icon-collect02-fill:before {
  content: "\e640";
}

.icon-collect-fill:before {
  content: "\e635";
}

.icon-collect:before {
  content: "\e636";
}

.icon-edit:before {
  content: "\e637";
}

.icon-english:before {
  content: "\e638";
}

.icon-email:before {
  content: "\e639";
}

.icon-chinese:before {
  content: "\e63a";
}

.icon-lang-cn-new:before {
  content: "\e648";
}

.icon-lang-en-new:before {
  content: "\e649";
}

.icon-lang-cn:before {
  content: "\e633";
}

.icon-lang-en:before {
  content: "\e634";
}

