# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
*.log*
lerna-debug.log*

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env.local

# Editor directories and files
.vscode/
*.swp
*.swo

# Testing
coverage/
*.tsbuildinfo

# Temporary files
*.tmp
*.temp